{% extends '_base.html.twig' %}
    {% block pageTitle %}home page{% endblock %}

    {% block body %}
        <div class="jumbotron">
  <h1>Bibliographies</h1> 
  <p>The new easy way to create, read, update and delete biliographie that you need</p> 
</div>
<div class="container">
 
</div>

        {{dump()}}
    {% endblock %}